/*

Adaptações
https://codigopratico.com

Snapshot Template
http://www.templatemo.com/tm-493-snapshot

*/


/*---------------------------------------
    Complete galllery section              
-----------------------------------------*/

#complete-gallery {
  padding-top: 90px;
  padding-bottom: 120px;
  position: relative;
}

#complete-gallery {
  text-align: center;
}

#complete-gallery {
    background: #ffffff;
}
  
.box-imagem{
    cursor: pointer;
}

.imagem figcaption{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.imagem figcaption:hover{
    opacity: .7;
}

.imagem figcaption p{
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #ffffff;

    display:flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}



footer{
    padding-top: 40px;
}



/*  USADO PARA DAR DESTAQUE PARA A FOTO CLICADA*/

#fechar-foto{
   display: none;
}

/*
#fechar-foto{
    position: fixed;
    top:20px;
    right: 20px;
    color:#ffffff;
    font-size: 2.5rem;
    cursor:pointer;
}

#fundo-escuro{
    position: fixed;
    top:0px;
    left: 0px;
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 100%;
}

 #foto-1{
    visibility: visible;
    position: fixed;
    top: 40px;
    left: 22.5%;
    width:55%;
    height: 55%;
    z-index: 1000px;
} */


/* .navbar{
    visibility: hidden;
}

.box-imagem{
    visibility: hidden;
}

.imagem figcaption p, .imagem figcaption{
    visibility: hidden;
} */
