/*

Adaptações
https://codigopratico.com

Snapshot Template
http://www.templatemo.com/tm-493-snapshot

*/

/*---------------------------------------
    Complete galllery section              
-----------------------------------------*/

#complete-gallery {
  padding-top: 90px;
  padding-bottom: 120px;
  position: relative;
}

#complete-gallery {
  text-align: center;
}

#complete-gallery {
    background: #ffffff;
}
  
.box-imagem{
    cursor: pointer;
}

.imagem figcaption{
    width: 100%;
    height: 100%;
    opacity: 0;
}

.imagem figcaption:hover{
    opacity: .7;
}

.imagem figcaption p{
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #ffffff;

    display:flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}

footer{
    padding-top: 40px;
}


#fechar-foto, #fundo-escuro{
    visibility: hidden;
}


/* faz aparecer o fundo escuro */
.aparecer-fundo-escuro{
    visibility:visible;
    position:fixed;
    top:0;
    left:0;
    background-color:black;
    opacity:0.7;
    width:100%;
    height:100%;

}

/* faz aparecer o fechar foto */
.aparecer-fechar-foto{
    visibility:visible;
    position:fixed;
    top:20px;
    right:20px;
    color:#ffffff;
    font-size:2.5rem;
    cursor:pointer;
}

/* destacar a foto clicada */
.destacar-foto{
    position:fixed;
    top:40px;
    left:22.4%;
    width:55%;
    height:55%;
}